<div >
  <%=turbo_frame_tag message do %>
    <div>
        <strong><%= "#{message.user.username} :" %> </strong>

         <%= message.body %>
         <%=link_to 'edit',edit_user_conversation_message_path(message.user,message.conversation,message) %>
         <%=link_to 'delete',user_conversation_message_path(message.user,message.conversation,message),method: :delete %>

    </div>
  <%end %>
</div>
