<div>
  <br><h5><%= "Conversation with #{@user2.username}" %></h5><br>

    <%= turbo_stream_from "messages" %>
    <div id="messages">
      <%@messages.each do |message| %>
        <%=render message,locals={message: message} %>
       <%end %>
    </div>
  <br>
   <div>
     <%=turbo_frame_tag "new_message_form" do%>
       <%= render 'form' %>
       <%end %>

   </div>


<br>
  <%=link_to 'Back',user_conversations_path ,class: "btn btn-primary"%>
</div>