
<div class="container-fluid"><br>
  <%if @searched_conversations.present? %>
    <h5> Conversations by your search </h5><br>
    <%@searched_conversations.each do |conversation| %>

      <%=render conversation,locals={user: @other_user,conversation: conversation} %><br>
    <% end %><br>
  <%else %>
     <h5> No Conversation found</h5>
  <%end %>
  <% if @searched_conversation_messages.present? %>
    <h5> <%= "Related messages with #{@other_user.username}" %> </h5><br>
    <% @searched_conversation_messages.each do |conversation| %>
      <h2><%= link_to "#{conversation.title}",user_conversation_messages_path(@other_user,conversation),class: "btn btn-primary"%></h2>
      <ul>
        <% conversation.messages.each do |message| %>

         <strong> <li><%= message.body %></li></strong>
        <% end %>
      </ul>
    <% end %>

  <%else %>
    <div>
      <h5>  <%= "No Messages Found .." %> </h5>
      <h5> <%= "Provide some inputs to search" unless @conversations.present? %> </h5>
    </div>

  <%end%><br>
  <%=link_to "Back to Conversations",user_conversations_path,class: "btn btn-primary" %>
</div>
